@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body{
    font-family: Lato, sans-serif;
}

header{
    width: 300px;
    margin: 0 550px;
}
header img{
    float: left;
}
header h1{
    position: relative 10px 10px 0 0;
    }
nav{
    width: 300px;
    margin: 0 550px;
    padding: 20px 0px;
    text-align: center;

}
nav a{
    margin: 20px;
    color: #000;
    text-decoration: none;
}
main{
    width: 750px;
    margin: 40px 370px;
}
section{
    width:500px;
    margin: 40px 100px;
    background-color: #f6f6f9;
    border-radius: 20px;
    align-items: center;
    padding: 10px 20px;
}
section h2{
    font-size: 19px;
}
#inputNovaTarefa{
    font-family: Lato, sans-serif;
    padding: 0px 10px;
    height: 40px;
    width: 380px;
    border-radius: 5px;
    border: 1px solid #0ccbde;
}
#btnNovaTarefa{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 0 25px;
    color: #fff;
    background-color: #0ccbde;
}
#btnNovaTarefa:hover{
    transform: scale(1.1);
}
#ListadeTarefas ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
section li{
    list-style: none;
    padding: 20px 10px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
}
#ListadeTarefas li:hover{
background-color: #0ccbde;
color: #ffffff;
}


